<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | absolute_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" 
         href="{{ '/' | absolute_url }}">
        Home
      </a>

      {% if site.posts.size > 0 %}
        <a class="sidebar-nav-item" 
           href="{{ site.posts.first.url | absolute_url }}">
          Most Recent Entry
        </a>
      {% endif %}
    </nav>
  </div>
</div>
